body{
    background-color: rgb(197, 199, 112);
}

#search{
    padding-top: 50px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
}

#inputSearch{
    padding: 5px;
    border-radius: 5px;
}

#searchButton{
    padding: 15px 30px;
    background-color: rgb(34, 56, 177);
    color: white;
   
}

#meal{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    
}
.mealDiv{
    border: 1px solid orange;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    width: 300px;
    background-color: rgb(143, 140, 139);
}

.meal-name{
    font-size: 45px;
    color: rgb(141, 62, 33)
}

#mealDetail{
    width: 200px;
}

.mealDetailDiv{
    /* padding-top: 50px;
    width: 50%;
    margin: 0 auto; */
    margin-bottom: 10px;
    margin-left: 50px;
}

.ingredUl{
    font-size: 20px;
}