#search{
    padding-top: 50px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
}

#searchButton{
    padding: 10px 30px;
   
}



#countries{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    
}
.country{
    border: 1px solid orange;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
    background-color: rgb(143, 140, 139);
}

.country-name{
    font-size: 45px;
    color: rgb(141, 62, 33)
}

#countryDetail{
    width: 200px;
}